<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/girl_icon"
        android:label="@string/app_name"
        android:theme="@style/Base.Theme.HerBeauty"
        android:roundIcon="@drawable/girl_icon"
        android:supportsRtl="true"
        tools:targetApi="35" >
        <activity
            android:name=".NailartActivity"
            android:exported="false" />
        <activity
            android:name=".BodyCareActivity"
            android:exported="false" />
        <activity
            android:name=".MakeupartActivity"
            android:exported="false" />
        <activity
            android:name=".SkinCareActivity"
            android:exported="false" />
        <activity
            android:name=".AboutusActivity"
            android:exported="false" />
        <activity
            android:name=".AppoinmentActivity"
            android:exported="false" />
        <activity
            android:name=".HairStyleActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".ServicesActivity"
            android:exported="false" />
        <activity
            android:name=".LogSigActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Base.Theme.splashscreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>